# Data Clearing

- [Logical Operators](#Logical-Operators)
- [Query](#Query)
- [Loc & iLoc](#Loc-&-iLoc)
- [Insertar nuevas filas](#Insertar-nuevas-filas)

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("dataset/customer-churn-model/Customer Churn Model.txt")

In [6]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
data[desired_columns].head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [7]:
all_columns_list = data.columns.values.tolist() # convertimos las columnas en lista
print(all_columns_list, '\n',type(all_columns_list))

['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan", 'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'Churn?']
 <class 'list'>

In [8]:
#sublist = [x for x in all_columns_list]

# recorremos y validamos que no este en desired_columns
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

data[sublist].head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,25,265.1,110,45.07,197.4,99,244.7,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,26,161.6,123,27.47,195.5,103,254.4,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,0,243.4,114,41.38,121.2,110,162.6,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,0,299.4,71,50.90,61.9,88,196.9,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,0,166.7,113,28.34,148.3,122,186.9,8.41,10.1,3,2.73,3,False.

# Filters

## Logical Operators

```python
data[condicion]
```
Va a traernos solo los rows que me indique en true, por ende, una opcion es hacer una validacion directamente del mismo dataframe

In [9]:
data["Day Mins"]<300

0       True
1       True
2       True
3       True
4       True
        ...
3328    True
3329    True
3330    True
3331    True
3332    True
Name: Day Mins, Length: 3333, dtype: bool

In [10]:
data[data["Day Mins"]<300]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [11]:
data[data["State"]=="NY"]
data[(data["Day Mins"]>300) & (data["State"]=="NY")]
data[(data["Day Mins"]>300) | (data["State"]=="NY")]
data[data["Day Calls"]<data["Night Calls"]]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False.
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.

In [12]:
data[data.State.isin(['OH','MA'])] # que contenga los valores OH y MA
data[data.State.str.startswith('O')] # Que comience con O
data[data.State.str.contains('O')] # Que contenga

data[~data.State.str.startswith('O')] # ~ operador logico NOT

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

## Query
Mas flexible para escribir condiciones

In [13]:
data.query("State == 'TN'")

data.query("`Day Mins` > 100")


data.query("State == 'TN' and `Day Mins` > 100")

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
196,TN,78,415,332-6934,no,no,0,149.7,119,25.45,...,115,15.49,261.5,126,11.77,9.7,8,2.62,0,False.
221,TN,127,408,336-1090,no,yes,22,166.0,114,28.22,...,103,14.83,244.9,68,11.02,10.2,6,2.75,1,False.
395,TN,98,415,376-9249,no,yes,22,278.3,89,47.31,...,143,7.94,107.6,42,4.84,9.7,5,2.62,0,False.
710,TN,69,510,358-1912,no,no,0,195.3,70,33.20,...,108,18.42,259.9,119,11.70,12.5,4,3.38,3,False.
725,TN,57,510,337-7739,no,no,0,149.3,100,25.38,...,110,17.02,231.7,101,10.43,11.9,3,3.21,2,False.
763,TN,33,415,360-9038,no,yes,35,186.8,124,31.76,...,69,22.19,317.8,103,14.30,15.0,5,4.05,0,False.
971,TN,59,415,399-5564,no,no,0,160.9,95,27.35,...,65,21.35,273.4,97,12.30,5.0,5,1.35,3,False.
993,TN,70,510,395-4757,no,no,0,126.3,99,21.47,...,106,12.04,255.9,96,11.52,9.6,2,2.59,0,False.
1001,TN,140,415,372-3987,no,no,0,125.3,84,21.30,...,121,14.25,260.6,94,11.73,8.4,4,2.27,1,False.
1114,TN,108,408,352-1127,no,yes,15,165.1,85,28.07,...,93,22.70,250.7,114,11.28,10.9,4,2.94,1,False.
1134,TN,105,408,353-8849,no,no,0,206.2,84,35.05,...,138,21.79,117.1,91,5.27,9.0,3,2.43,1,False.
1186,TN,130,415,386-7456,no,yes,12,141.9,92,24.12,...,102,19.46,195.1,101,8.78,8.7,5,2.35,0,False.
1191,TN,146,408,416-8543,yes,no,0,160.1,63,27.22,...,112,17.71,177.6,98,7.99,9.2,3,2.48,2,False.
1240,TN,108,510,356-8449,no,yes,34,162.1,83,27.56,...,117,14.60,259.8,76,11.69,9.6,3,2.59,4,True.
1256,TN,98,415,351-7016,no,no,0,162.8,65,27.68,...,109,15.73,219.5,104,9.88,6.0,3,1.62,2,False.
1264,TN,72,408,348-2009,no,no,0,147.0,79,24.99,...,103,13.80,162.9,80,7.33,10.5,4,2.84,1,False.
1312,TN,103,415,384-7724,no,no,0,141.3,123,24.02,...,87,21.56,215.8,96,9.71,6.4,2,1.73,1,False.
1325,TN,17,510,382-5401,no,yes,31,153.1,115,26.03,...,59,15.80,224.3,102,10.09,10.0,1,2.70,6,True.
1328,TN,114,510,343-3846,no,no,0,172.0,145,29.24,...,101,23.49,193.7,100,8.72,10.1,9,2.73,1,False.
1432,TN,63,415,374-6217,no,no,0,164.5,75,27.97,...,118,12.57,252.7,97,11.37,11.2,2,3.02,0,False.
1490,TN,1,415,335-5591,no,no,0,196.1,107,33.34,...,82,25.20,211.5,91,9.52,7.0,2,1.89,1,False.
1616,TN,67,415,414-9717,no,no,0,179.8,125,30.57,...,86,14.72,272.8,97,12.28,10.9,4,2.94,0,False.
1640,TN,68,415,397-1659,no,no,0,222.8,99,37.88,...,85,14.94,202.0,111,9.09,11.0,3,2.97,3,False.
1652,TN,176,415,418-2402,no,yes,23,283.2,130,48.14,...,74,13.82,177.7,104,8.00,7.2,6,1.94,1,False.
1683,TN,47,415,332-3544,no,yes,30,196.6,93,33.42,...,140,20.52,226.0,118,10.17,12.9,4,3.48,2,False.
1761,TN,127,415,339-7684,no,yes,28,235.6,124,40.05,...,113,20.13,241.2,127,10.85,7.7,2,2.08,1,False.
1792,TN,130,408,401-2581,no,no,0,127.0,102,21.59,...,107,17.59,231.7,99,10.43,6.1,6,1.65,0,False.
1863,TN,94,408,368-3117,yes,no,0,170.1,113,28.92,...,94,23.10,110.7,78,4.98,8.7,4,2.35,1,False.
1928,TN,102,510,345-9018,no,no,0,103.1,70,17.53,...,129,23.38,141.1,92,6.35,11.2,5,3.02,1,False.
1984,TN,112,415,339-6477,no,no,0,272.5,119,46.33,...,94,19.22,159.1,94,7.16,16.4,5,4.43,3,True.
2066,TN,121,510,338-1815,no,yes,26,170.4,91,28.97,...,90,21.63,219.6,122,9.88,15.1,5,4.08,0,False.
2104,TN,105,510,366-2622,no,no,0,119.3,82,20.28,...,111,15.73,157.0,74,7.07,10.9,4,2.94,2,False.
2258,TN,80,415,351-7309,yes,no,0,276.5,122,47.01,...,79,16.63,210.3,78,9.46,7.2,3,1.94,1,True.
2278,TN,68,415,356-1582,no,no,0,178.7,61,30.38,...,84,21.45,255.7,76,11.51,8.4,4,2.27,1,False.
2343,TN,120,408,410-7611,yes,no,0,179.9,72,30.58,...,98,14.45,190.6,89,8.58,13.8,2,3.73,1,True.
2455,TN,129,408,352-4534,no,no,0,101.4,145,17.24,...,116,21.17,157.6,107,7.09,7.1,6,1.92,1,False.
2467,TN,3,510,407-8012,yes,no,0,161.0,96,27.37,...,82,20.82,180.8,103,8.14,7.7,6,2.08,1,False.
2478,TN,123,415,415-3016,no,yes,34,305.2,80,51.88,...,109,13.30,280.0,81,12.60,13.2,7,3.56,1,False.
2522,TN,106,415,367-2436,no,no,0,119.2,142,20.26,...,139,19.41,197.9,61,8.91,8.4,9,2.27,2,False.
2525,TN,95,510,365-7784,no,no,0,174.0,57,29.58,...,118,23.89,197.2,94,8.87,9.7,2,2.62,0,False.
2557,TN,120,415,412-3404,no,no,0,185.7,133,31.57,...,149,19.98,256.4,78,11.54,16.9,6,4.56,0,False.
2569,TN,123,415,337-8950,no,no,0,166.9,98,28.37,...,77,18.85,243.9,114,10.98,12.8,4,3.46,3,False.
2598,TN,196,415,340-8291,no,no,0,133.1,80,22.63,...,120,17.55,221.6,96,9.97,10.3,8,2.78,1,False.
2620,TN,115,415,374-6525,no,no,0,206.2,113,35.05,...,102,14.99,297.1,119,13.37,11.0,7,2.97,1,False.
2628,TN,37,415,413-2238,no,no,0,221.0,126,37.57,...,110,17.38,118.0,98,5.31,6.8,3,1.84,4,False.
2761,TN,88,415,332-3617,no,no,0,181.5,116,30.86,...,119,15.90,220.3,96,9.91,10.5,7,2.84,1,False.
3122,TN,3,415,400-4713,no,no,0,185.0,120,31.45,...,129,17.31,170.5,89,7.67,14.1,3,3.81,3,False.
3210,TN,93,510,344-6847,yes,no,0,168.4,114,28.63,...,127,23.46,196.2,48,8.83,11.4,3,3.08,1,False.
3289,TN,39,408,364-8731,no,no,0,187.2,110,31.82,...,116,9.75,104.7,83,4.71,13.2,5,3.56,1,False.
3295,TN,110,415,391-5516,no,no,0,227.7,88,38.71,...,96,14.45,128.7,57,5.79,11.7,5,3.16,1,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

## Loc & iLoc
POdemos filtrar por filas y/o columnas
- Loc: columnas basado en labels
- iLoc: columnas basado en index


Mas performante que **query**

In [14]:

data.iloc[[1,5,8,36], [2,5,7]]

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
5         510         no     223.4
8         408         no     184.5
36        408        yes     146.3

In [15]:
data.loc[[1,5,8,36], ["Area Code", "VMail Plan", "Day Mins"]]

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
5         510         no     223.4
8         408         no     184.5
36        408        yes     146.3

In [16]:
data.loc[data['Area Code'] > 500, ["Area Code", "VMail Plan", "Day Mins"]]

      Area Code VMail Plan  Day Mins
5           510         no     223.4
6           510        yes     218.2
13          510         no     156.6
17          510         no     190.7
18          510        yes     189.7
...         ...        ...       ...
3304        510         no     186.1
3316        510        yes     164.1
3320        510         no     140.0
3330        510         no     180.8
3331        510         no     213.8

[840 rows x 3 columns]

Utilizando **numexpr** podemos tener una mejor performance

# Insertar nuevas filas

In [60]:
calls = data[["Day Mins", "Night Mins", "Eve Mins", "Day Calls", "Night Calls", "Eve Calls"]]
calls.columns = ["day_mins", "night_mins", "eve_mins", "day_calls", "night_calls", "eve_calls"]
calls

      day_mins  night_mins  eve_mins  day_calls  night_calls  eve_calls
0        265.1       244.7     197.4        110           91         99
1        161.6       254.4     195.5        123          103        103
2        243.4       162.6     121.2        114          104        110
3        299.4       196.9      61.9         71           89         88
4        166.7       186.9     148.3        113          121        122
...        ...         ...       ...        ...          ...        ...
3328     156.2       279.1     215.5         77           83        126
3329     231.1       191.3     153.4         57          123         55
3330     180.8       191.9     288.8        109           91         58
3331     213.8       139.2     159.6        105          137         84
3332     234.4       241.4     265.9        113           77         82

[3333 rows x 6 columns]

In [115]:
calls["total_mins"] = calls["day_mins"] + calls["night_mins"] + calls["eve_mins"]
calls

/tmp/ipykernel_280234/1867683595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls["total_mins"] = calls["day_mins"] + calls["night_mins"] + calls["eve_mins"]

,day_mins,night_mins,eve_mins,day_calls,night_calls,eve_calls,total_mins
0,265.1,244.7,197.4,110,91,99,707.2
1,NaN,254.4,195.5,123,103,103,NaN
2,243.4,162.6,121.2,114,104,110,527.2
3,299.4,196.9,61.9,71,89,88,558.2
4,166.7,186.9,148.3,113,121,122,501.9
...,...,...,...,...,...,...,...
3328,156.2,279.1,215.5,77,83,126,650.8
3329,231.1,191.3,153.4,57,123,55,575.8
3330,180.8,191.9,288.8,109,91,58,661.5
3331,213.8,139.2,159.6,105,137,84,512.6
3332,234.4,241.4,265.9,113,77,82,741.7

In [117]:
calls["total_mins"] = 0 # asigno un escalar

/tmp/ipykernel_280234/1097144272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls["total_mins"] = 0 # asigno un escalar

In [120]:
mask = calls['day_mins'] < 200
calls.loc[mask,"total_mins"] = calls.loc[mask,"day_mins"] + calls.loc[mask,"night_mins"] + calls.loc[mask,"eve_mins"]
calls

,day_mins,night_mins,eve_mins,day_calls,night_calls,eve_calls,total_mins
0,265.1,244.7,197.4,110,91,99,707.2
1,NaN,254.4,195.5,123,103,103,0.0
2,243.4,162.6,121.2,114,104,110,527.2
3,299.4,196.9,61.9,71,89,88,558.2
4,166.7,186.9,148.3,113,121,122,501.9
...,...,...,...,...,...,...,...
3328,156.2,279.1,215.5,77,83,126,650.8
3329,231.1,191.3,153.4,57,123,55,575.8
3330,180.8,191.9,288.8,109,91,58,661.5
3331,213.8,139.2,159.6,105,137,84,512.6
3332,234.4,241.4,265.9,113,77,82,741.7

In [107]:
calls['total_mins'] = calls['total_mins'] * 2 + 50
calls

/tmp/ipykernel_280234/3089850804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls['total_mins'] = calls['total_mins'] * 2 + 50

,day_mins,night_mins,eve_mins,day_calls,night_calls,eve_calls,total_mins
0,265.1,244.7,197.4,110,91,99,50.0
1,161.6,254.4,195.5,123,103,103,2496.0
2,243.4,162.6,121.2,114,104,110,50.0
3,299.4,196.9,61.9,71,89,88,50.0
4,166.7,186.9,148.3,113,121,122,2057.6
...,...,...,...,...,...,...,...
3328,156.2,279.1,215.5,77,83,126,2653.2
3329,231.1,191.3,153.4,57,123,55,50.0
3330,180.8,191.9,288.8,109,91,58,2696.0
3331,213.8,139.2,159.6,105,137,84,50.0
3332,234.4,241.4,265.9,113,77,82,50.0

In [125]:
calls.loc[[1],"day_mins"] = np.nan
calls["total_mins"] = calls["day_mins"] + calls["night_mins"] + calls["eve_mins"]
calls

/tmp/ipykernel_280234/1707500768.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calls["total_mins"] = calls["day_mins"] + calls["night_mins"] + calls["eve_mins"]

,day_mins,night_mins,eve_mins,day_calls,night_calls,eve_calls,total_mins
0,265.1,244.7,197.4,110.0,91.0,99.0,707.2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,243.4,162.6,121.2,114.0,104.0,110.0,527.2
3,299.4,196.9,61.9,71.0,89.0,88.0,558.2
4,166.7,186.9,148.3,113.0,121.0,122.0,501.9
...,...,...,...,...,...,...,...
3328,156.2,279.1,215.5,77.0,83.0,126.0,650.8
3329,231.1,191.3,153.4,57.0,123.0,55.0,575.8
3330,180.8,191.9,288.8,109.0,91.0,58.0,661.5
3331,213.8,139.2,159.6,105.0,137.0,84.0,512.6
3332,234.4,241.4,265.9,113.0,77.0,82.0,741.7