In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("dataset/customer-churn-model/Customer Churn Model.txt")

In [6]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
data[desired_columns].head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [9]:
all_columns_list = data.columns.values.tolist() # convertimos las columnas en lista
print(all_columns_list, '\n',type(all_columns_list))

['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan", 'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'Churn?']
 <class 'list'>

In [13]:
#sublist = [x for x in all_columns_list]

# recorremos y validamos que no este en desired_columns
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']